@using moviesnow.Models
@model LoginUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form asp-action="Login" asp-controller="LogReg" method="post">
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <input type="submit" value="Login">
        </div>
    </form>

        <div class="container-fluid d-flex" id="container">
        <div class="mask rgba-black-strong"></div>
        <div class="col-10 col-md-4 bg-dark text-light p-3 float-none float-md-right mr-md-5 mx-auto my-auto rounded shadow">
            <p>Which is these genres most appeal to you?</p>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary col-12">Submit</button>
            </form>
        </div>
    </div>

</body>
</html>