@using moviesnow.Models
@model LoginUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/profilestyle.css">
    <title>Login</title>
</head>
<body>
    <div class="container-fluid d-flex" id="container">
        <div class="col-10 text-light text-center p-4 mx-auto my-auto rounded shadow">
            <img src="~/img/logo.png" width="200" class="d-inline-block align-top pb-3" alt="" loading="lazy">
            <p class="pb-3">Please login with your email and password</p>
            <form asp-action="LoginUser" asp-controller="LogReg" method="post">
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email Address">
                    @* <br> *@
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Password">
                    @* <br> *@
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary col-12">Login</button>
            </form>
            <p class="pt-4">Don't have an account?</p>
            <a href="/register">Sign Up!</a>
        </div>
    </div>

</body>
</html>