@using moviesnow.Models
@model Movie
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>@Model.title</h2>
    <p>@Model.overview</p>
    <p>@Model.release_date</p>
    @foreach (var item in Model.genres)
    {
        <p>@item.name</p>
    }
</body>
</html>