@using moviesnow.Models
@model SearchResult

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @foreach (var movie in Model.results)
    {
        <h2>@movie.title</h2>
        <p>@movie.overview</p>
    }
</body>
</html>