body {
    background-color: rgb(37, 42, 46);
}

#main_carousel {
    background-image: url("../img/poster_bg.jpg");
    background-size: 3000px;
    background-repeat: no-repeat;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-control-next {
    right: -30px;
}

.carousel-control-prev {
    left: -30px;
}

.movie-teaser img {
    max-width: 25%;
    min-width: 150px;
}

.badge {
    font-size: 17px;
}
